.forgot {
  margin-bottom: 20px;
}

/* Xatolik paytida border qizil bo‘lsin */
.error_email_input {
  border: 1px solid #F04438;
  color: #F04438;
}

/* Xatolik matnini ko‘rsatish */
.show_err {
  opacity: 1 !important;
}